<h1> LOGIN </h1>

<form action="<%= session_url %>" method="post">
  <%= auth_token %>

  <p>
    <label>Username:
      <input type="text" name="user[username]" value="<%=@user.username%>">
    </label>
  </p>

  <p>
    <label>Password:
      <input type="password" name="user[password]">
    </label>
  </p>

  <input type="submit" name="Submit">
</form>
